.emailText,
.passText {
    display: block;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}

label.valid .emailText,
label.valid .passText {
    color: #00ff00;
}

label.invalid .emailText,
label.invalid .passText {
    color: #f00;
}

label.valid::before,
label.invalid::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 5px;
    z-index: 100;
}

label.valid::before {
    background: url(/check.svg)no-repeat center /cover;
}

label.invalid::before {
    background: url(/error.png)no-repeat center /cover;
}